html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.about-header{

}
.video-container{
  max-height: 220px;
}
.main-heading{
  font-size: 3.5rem;
  line-height: 86%;
}
.main-description{
  font-size: 1rem;
  margin-top: 20px;
  width: 100%;
}

.service-heading{
  font-size: 2rem;
}
.viewall-link{
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}
.viewall-link:hover{
  color: #000;
  text-decoration: underline;
}
.service-outer{
  border-top: 2px solid black;
  padding: 10px;
}
.service-title{
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.service-description{
  font-size: 1.25rem;
}
.client {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.client img{
  width: 130px;
  opacity: 0.6;
  filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}

.testimonial{
  /* border-top: 2px solid black; */
  padding: 10px;
}

@media screen and (min-width: 768px){
  .main-heading{
    font-size: 10rem;
    line-height: 86%;
  }
  .main-description{
    font-size: 2rem;
    margin-top: 20px;
    width: 90%;
  }
  .video-container {
    max-height: 350px;
  }
  .service-heading{
    font-size: 5rem;
  }
  .viewall-link{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .service-title {
    font-size: 2rem;
}
}